LAMBDA_DIR=lambda
LAMBDA_ZIP=terraform/lambda.zip
VENV_DIR=build/python

build:
	rm -rf build
	mkdir -p $(VENV_DIR)
	pip install -r requirements.txt -t $(VENV_DIR)
	cp $(LAMBDA_DIR)/main.py $(VENV_DIR)/
	cd build && zip -r ../$(LAMBDA_ZIP) .
